openapi: 3.1.0
info:
  title: CoreLink Customer & Privacy REST API
  version: 0.1.0
  summary: REST surface for CoreLink customer onboarding, privacy (DSR / DPA),
    billing webhooks, admin operations and health.
  description: |
    Hand-authored OpenAPI 3.1 contract for the **non-REAPI** surface of CoreLink.
    The high-volume CAS / AC / ByteStream / Capabilities surface is gRPC
    (Remote Execution API v2) and documented separately under
    `docs/reference/reapi/`.

    Endpoint canonical paths are sourced from the implementing crates' doc-comments:
    `corelink-signup`, `corelink-dpa-acceptance`, `corelink-dpa-versioning`,
    `corelink-tier-selection`, `corelink-pat`, `corelink-dsr`,
    `corelink-admin-api`,
    `corelink-enterprise-inquiry`, plus `apps/server::webhook` (Stripe).

    **Stability:** `v1` — public, semver-compatible. Breaking changes require a
    new major path prefix (`/v2/...`).
  termsOfService: https://corelink-docs.humangr.com/legal/terms
  contact:
    name: CoreLink Support
    email: support@humangr.com
    url: mailto:support@humangr.com
  license:
    name: Proprietary
    url: https://corelink-docs.humangr.com/legal/terms
servers:
  - url: https://corelink-api.humangr.com
    description: Production (Cloudflare Durable Object + container)
  - url: http://localhost:50051
    description: Local dev (axum container, PORT env default)
tags:
  - name: signup
    description: Customer onboarding orchestration (atomic tenant + DPA + first PAT
      provisioning).
  - name: dpa
    description: Data Processing Addendum click-through acceptance and re-acceptance.
  - name: tier
    description: Subscription tier selection + Stripe Checkout handoff.
  - name: pat
    description: Personal Access Token CRUD (token material shown once).
  - name: billing
    description: Stripe billing webhook ingestion.
  - name: privacy-dsr
    description: GDPR / LGPD / CCPA Data Subject Request self-service.
  - name: admin
    description: Admin operations (dual-approval gated, MFA-fresh, audit-emit-BEFORE-mutate).
  - name: enterprise
    description: Enterprise sales inquiry intake.
  - name: users
    description: Current-user profile (Clerk-authenticated).
  - name: data-categories
    description: Reference list of canonical data-category enums (privacy_model §5.6).
  - name: ops
    description: Operational health and browser CSP report intake.
  - name: signup-pilot
    description: Pilot-programme signup-token redemption (HMAC-gated, 14d TTL).
  - name: admin-read-mutate
    description: Admin read + dual-approval-gated mutate (in-memory wire-up
      demonstration; production binding pending).
  - name: admin-pilot
    description: Pilot tenant admin (list / grant-tier / 24h checkin).
  - name: audit-export
    description: Bulk audit-chain export from R2 (per-tenant, signed window).
  - name: audit-analytics
    description: Audit-event analytics aggregates (event-count + timeline).
  - name: reapi-http
    description: HTTP surface for the Remote Execution API v2 (CAS / AC). Backed
      by R2 storage in production; falls back to in-memory for local dev.
  - name: turbo-v8
    description: Turborepo remote-cache bridge (Vercel v8 protocol) — `GET/PUT /v8/artifacts/{hash}`, events, status.
  - name: bazel-v2
    description: Bazel REAPI v2 HTTP bridge — `/bazel/v2/{instance}/blobs/...` and `/bazel/v2/{instance}/findMissingBlobs`.
security:
  - BearerPAT: []
  - ClerkSessionCookie: []
paths:
  /v1/signup:
    x-status: implemented
    x-implementing-crate: corelink-signup
    x-served-at: worker/src/index.ts:972 (edge-terminated)
    x-reconciliation-note: |
      Distinct intent from the SERVER-ONLY `/v1/signup/pilot/{token}`
      (pilot-program HMAC-token redemption, axum-mounted in
      `crates/corelink-container/src/routes/signup.rs`). The customer-
      facing self-service signup endpoint is the one documented here;
      `crates/corelink-signup` ships the orchestrator + atomic-
      provisioning logic and the Worker terminates the route at the edge.
    post:
      tags: [signup]
      summary: Provision a new tenant from a verified Clerk identity.
      operationId: signup
      description: |
        Idempotent signup orchestration. The orchestrator wraps tenant row +
        DPA acceptance row + first PAT issuance in a single atomic D1
        transaction (`INV-ONBOARD-ATOMIC-PROVISIONING`). Stripe customer
        creation is a best-effort saga step — Stripe outage degrades to
        `Deferred` with `billing_intent="deferred"`; the tenant is still
        provisioned and signed up.

        Request body intentionally has **no PAT field** (`CTRL-CRED-001`);
        the first PAT is returned in the response (shown-once token).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
            examples:
              minimal:
                $ref: "#/components/examples/SignupRequestMinimal"
      responses:
        "201":
          description: Tenant provisioned (atomic D1 commit succeeded).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "202":
          description: Tenant provisioned, billing deferred (Stripe outage / chaos).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503":
          description: Transient backend outage (Stripe or D1); safe to retry with
            same `Idempotency-Key`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/onboarding/dpa-accept:
    x-status: implemented
    x-implementing-crate: corelink-container
    x-served-at: crates/corelink-container/src/routes/dpa_accept.rs:634
    post:
      tags: [dpa]
      summary: Record click-through acceptance of the current DPA version.
      operationId: dpaAccept
      description: |
        Records the click-through consent proof for the caller's tenant and
        returns the immutable audit reference for it. The tenant is taken from
        the Clerk-authenticated session at the edge and is **never** read from
        the body — a smuggled `tenant_id` is rejected (`400 bad_request`,
        unknown fields are denied).

        Idempotent on `(tenant, dpa_version)`: replaying an acceptance returns
        the original `audit_event_id` unchanged, with the same `200`.

        `dpa_version` must equal the server's current DPA version; an older
        one is rejected with `400 dpa_version_mismatch`. `dpa_locale` must be
        inside the closed GA locale set (`en-US` / `pt-BR` / `es-419`, and
        their bare-language forms); anything else — `de` included — is
        `400 unsupported_locale`.

        `INV-ONBOARD-DPA-FIRST`: `/v1/onboarding/tier-select` stays locked
        until an acceptance row exists for the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DpaAcceptRequest"
      responses:
        "200":
          description: |
            Acceptance recorded — or replayed unchanged, which returns the same
            body as the original acceptance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DpaAcceptResponse"
        "400":
          description: |
            `bad_request` (malformed JSON, unknown field, malformed notice
            hash), `unsupported_locale`, or `dpa_version_mismatch`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DpaAcceptError"
        "401":
          description: |
            `unauthenticated` (edge internal-auth failed) or
            `no_verified_tenant` (no tenant bound to the session).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DpaAcceptError"
        "500":
          description: |
            `internal` — durable-store or receipt-signing failure. Fail-CLOSED:
            never reported as "already accepted".
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DpaAcceptError"
  /v1/onboarding/tier-select:
    post:
      tags: [tier]
      summary: Select a subscription tier and receive a Stripe Checkout session URL.
      operationId: tierSelect
      x-status: implemented
      x-implementing-crate: corelink-tier-selection
      x-served-at: crates/corelink-container/src/routes/tier_select.rs:588
      description: |
        Enforces `INV-ONBOARD-DPA-FIRST` via a D1 lock — tier selection is
        rejected until a DPA acceptance row exists for the tenant.
        Returns a Stripe Checkout session URL; final activation happens
        when the corresponding `checkout.session.completed` event lands
        on `/v1/billing/stripe-webhook`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TierSelectRequest"
      responses:
        "200":
          description: Checkout session created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TierSelectResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: DPA-first lock — caller must accept current DPA before
            selecting a tier.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
  /v1/customer/keys:
    x-status: implemented
    x-implementing-crate: corelink-container
    x-served-at: crates/corelink-container/src/routes/customer.rs:212
    get:
      tags: [pat]
      summary: List the tenant's Personal Access Tokens (metadata only).
      operationId: customerKeysList
      description: |
        Returns PAT metadata plus the tenant's BYOK status. No raw token
        material is ever returned here.

        Requires a cache-**write** capability: enumerating a tenant's
        credentials is an admin operation, so a read-only (`cas:r`) token is
        rejected with `403`.
      responses:
        "200":
          description: PAT list (metadata only) and BYOK status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerKeysListResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      tags: [pat]
      summary: Issue a new Personal Access Token.
      operationId: customerKeysCreate
      description: |
        Returns the raw token material **once**, in the `token` field. The
        token is hashed before storage; every subsequent read returns metadata
        only.

        Minting a credential that carries any write/admin scope requires the
        caller to already hold a cache-write capability — a read-only token
        cannot bootstrap a write token for itself (`403`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerKeyCreateRequest"
      responses:
        "201":
          description: PAT issued. `token` is shown exactly once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerKeyCreateResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "500": { $ref: "#/components/responses/InternalError" }
  /v1/customer/keys/{pat_id}/revoke:
    x-status: implemented
    x-implementing-crate: corelink-container
    x-served-at: crates/corelink-container/src/routes/customer.rs:216
    post:
      tags: [pat]
      summary: Revoke a Personal Access Token by id.
      operationId: customerKeyRevoke
      description: |
        Revocation is destructive and tenant-wide, so it requires a cache-write
        capability; a read-only (`cas:r`) principal is rejected with `403`.
        Subsequent uses of the revoked token MUST fail closed
        (`INV-PAT-REVOKE-PROPAGATION`).
      parameters:
        - $ref: "#/components/parameters/PatId"
      responses:
        "200":
          description: Revoked. Returns the PAT metadata with `revoked_at` set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerKeyRevokeResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /v1/billing/stripe-webhook:
    x-status: implemented
    x-implementing-crate: corelink-container
    x-served-at: crates/corelink-container/src/webhook.rs:56 (STRIPE_WEBHOOK_ROUTE)
    post:
      tags: [billing]
      summary: Receive a Stripe webhook event (HMAC-SHA256 signature required).
      operationId: stripeWebhook
      description: |
        Implemented at `apps/server::webhook::stripe_webhook_handler`.
        Validates the `Stripe-Signature` header (5-minute replay window),
        deduplicates on `event.id`, then dispatches to the subscription
        handler. Unknown / out-of-scope event types are acknowledged with
        200 OK (fire-and-forget contract).

        **NOT secured by BearerPAT / Clerk** — see `StripeSignature` scheme.
      security:
        - StripeSignature: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
          description: Stripe HMAC-SHA256 signature header (`t=<unix>,v1=<sig>`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StripeWebhookEnvelope"
      responses:
        "200":
          description: Event accepted (including idempotent replays and
            acknowledged unknown event types).
          content:
            text/plain:
              schema:
                type: string
                examples: ["ok"]
        "400":
          description: Missing or invalid signature, or malformed event body.
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Transient backend error; Stripe will retry.
          content:
            text/plain:
              schema:
                type: string
  /v1/privacy/dsr/{action}:
    x-status: implemented
    x-implementing-crate: corelink-dsr
    x-served-at: crates/corelink-container/src/routes/dsr/portal.rs:719-724
    x-reconciliation-note: |
      Mounted as six enumerated literals (`/access`, `/portability`,
      `/rectification`, `/erasure`, `/restriction`, `/objection`) rather than
      one templated segment — an `{action}` outside that closed set is a 404,
      not a validation error.
    post:
      tags: [privacy-dsr]
      summary: Submit a Data Subject Request (GDPR / LGPD / CCPA).
      operationId: dsrSubmit
      description: |
        6 supported actions per `corelink-dsr::event::DsrRequestKind`:
        `access`, `portability`, `rectification`, `erasure`, `restriction`,
        `objection`. Destructive arms (`erasure`, `rectification`) require
        a fresh MFA step-up token via `X-MFA-Step-Up-Token`.

        Returns an RS256-signed JWT receipt (90-day validity) on
        acceptance. SLA deadline is jurisdiction-bound (GDPR 30d / LGPD
        15d / CCPA 45d).
      parameters:
        - name: action
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/DsrAction"
        - name: X-MFA-Step-Up-Token
          in: header
          required: false
          schema:
            type: string
          description: Required when `action` is `erasure` or `rectification`
            (per `corelink-dsr::mfa`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DsrRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DsrAcceptedReceipt"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: MFA step-up required (destructive arm) or token expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
  /v1/privacy/dsr/{request_id}/status:
    x-status: implemented
    x-implementing-crate: corelink-dsr
    x-served-at: crates/corelink-container/src/routes/dsr/portal.rs:726
    get:
      tags: [privacy-dsr]
      summary: Poll the status of a previously submitted DSR.
      operationId: dsrStatus
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: UUIDv7 of the DSR request.
      responses:
        "200":
          description: Current status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DsrTicket"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
  /v1/users/me:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/users.rs (handle_me)
    x-reconciliation-note: |
      Live in production. Returns the PAT-resolved caller identity that the
      Worker injected via `x-corelink-tenant-id`, `x-corelink-token-prefix`,
      `x-corelink-route-kind` headers before proxying to the Durable Object.
      PATCH is NOT wired — `users.rs` registers only GET.
    get:
      tags: [users]
      summary: Reflect the authenticated caller's PAT identity.
      operationId: usersMeGet
      security:
        - BearerPAT: []
      description: |
        Returns the PAT-resolved identity injected by the Worker into three
        trusted headers. Clients call this to verify their PAT is wired
        correctly without exercising the CAS/AC data plane. The raw PAT is
        never reflected.
      responses:
        "200":
          description: Caller identity.
          content:
            application/json:
              schema:
                type: object
                required: [tenant_id, token_prefix, route_kind]
                properties:
                  tenant_id:
                    type: string
                    description: PAT-resolved tenant UUID (or `_unknown` if header absent).
                  token_prefix:
                    type: string
                    description: Token prefix for audit correlation (NOT the raw PAT secret).
                  route_kind:
                    type: string
                    description: Route family (e.g. `reapi_v1`).
              example:
                tenant_id: "550e8400-e29b-41d4-a716-446655440000"
                token_prefix: "clpat_abcd"
                route_kind: "reapi_v1"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/health:
    x-status: implemented
    x-served-at: worker/src/index.ts:878 (edge-terminated)
    x-reconciliation-note: |
      Terminated at the edge by the Worker — it never reaches the container.
      Not to be confused with the adapter-host pip server's own `/healthz`
      (that is the pip-adapter port, not the customer API surface), nor with
      the container's `/_health`, which is documented separately.
    get:
      tags: [ops]
      summary: Liveness / readiness probe.
      operationId: apiHealth
      security: []
      responses:
        "200":
          description: Healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v1/signup/pilot/{token}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/signup.rs (handle_pilot_signup)
    post:
      tags: [signup-pilot]
      summary: Redeem an HMAC-signed pilot signup token.
      operationId: pilotSignup
      description: |
        Server-only route (axum-mounted). Token format
        `pilot_<env>_<unix_ms>_<16-hex-random>.<hmac-hex>` verified in
        constant time via `subtle::ConstantTimeEq`. TTL 14 days from mint.
        Rate-limited 5/IP/hour. Audit-emit fail-CLOSED per
        `INV-AUDIT-EMIT-ATOMIC-WITH-HANDLER`.
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            pattern: "^pilot_(staging|prod)_[0-9]+_[0-9a-f]{16}\\.[0-9a-f]+$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PilotSignupRequest"
      responses:
        "201":
          description: Pilot tenant reserved; activation URL returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PilotSignupResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Malformed / expired / forged token.
          content:
            text/plain:
              schema: { type: string }
        "429":
          description: Per-IP rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer, minimum: 1 }
        "503":
          description: Audit pipeline or signup store unavailable (fail-CLOSED).
          content:
            text/plain:
              schema: { type: string }

  /v1/admin/read/{resource}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/admin.rs (handle_read)
    get:
      tags: [admin-read-mutate]
      summary: Admin-plane read of a typed resource.
      operationId: adminReadResource
      description: |
        End-to-end wire-up of `corelink_handler_admin::AdminReadHandler`
        against an `Arc<dyn ...>` trait-object route state. Emits
        `Sli::AvailControlPlane` per route entry.
      security:
        - BearerPAT: [admin]
      parameters:
        - name: resource
          in: path
          required: true
          schema:
            type: string
            description: Resource discriminator (handler-specific taxonomy).
      responses:
        "200":
          description: Resource payload (handler-specific shape).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/admin/mutate:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/admin.rs (handle_mutate)
    post:
      tags: [admin-read-mutate]
      summary: Admin-plane mutate (dual-approval-gated).
      operationId: adminMutate
      description: |
        `AdminMutateHandler` enforces (1) RBAC (initiator must hold admin
        role), (2) dual-approval token presence, (3) approver ≠ initiator.
        Each path emits the corresponding `MutateAttempted` /
        `MutateDenied` / `MutateDualApprovalRejected` audit row BEFORE
        the response (audit-emit-BEFORE-handler atomicity).
      security:
        - BearerPAT: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminMutateBody"
      responses:
        "202":
          description: Mutation accepted.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: RBAC denied / dual-approval missing / self-approval.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /v1/admin/pilots:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/admin_pilot.rs (handle_list)
    get:
      tags: [admin-pilot]
      summary: List pilot tenants filtered by lifecycle state.
      operationId: adminPilotsList
      description: |
        Replaces the wave-27 `list-pilot-tenants.sh` shell script.
        Auth: Clerk JWT with scope `corelink:admin:pilots`; the route
        re-checks the scope at the boundary (5-Layer Defense).
      security:
        - ClerkSessionCookie: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            enum: [NEW, ACTIVE, GRADUATED, TERMINATED]
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Paginated pilot list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPilotsResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/admin/pilots/{tenant_id}/grant-tier:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/admin_pilot.rs (handle_grant_tier)
    post:
      tags: [admin-pilot]
      summary: Grant pilot tier and cap.
      operationId: adminPilotsGrantTier
      description: |
        Replaces the wave-27 `grant-pilot-tier.sh` shell script.
        Transitions `pilot_state` NEW → ACTIVE atomically with
        `tier_granted_at_ms` set.
      security:
        - ClerkSessionCookie: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrantTierBody"
      responses:
        "200":
          description: Tier granted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantTierResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/admin/pilots/{tenant_id}/checkin:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/admin_pilot.rs (handle_checkin)
    post:
      tags: [admin-pilot]
      summary: Run the 24-hour activation check-in.
      operationId: adminPilotsCheckin
      description: |
        Replaces the wave-27 `pilot-24h-checkin.sh` shell script.
        Emits an alert audit row when the tenant has not uploaded a single
        blob 24h after `tier_granted_at_ms`.
      security:
        - ClerkSessionCookie: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Check-in result (alert flag + first-blob status).
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string, format: uuid }
                  first_blob_seen: { type: boolean }
                  alert_emitted: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/audit/{tenant}/export:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/audit_export/handler.rs (handle_export)
    x-served-at: crates/corelink-container/src/routes/audit_export/types.rs:20 (AUDIT_EXPORT_ROUTE)
    get:
      tags: [audit-export]
      summary: Stream a bulk audit-chain export from R2.
      operationId: auditExport
      description: |
        Streams the per-tenant audit chain over the supplied `[from, to)`
        window. Window bounds accept either ISO 8601 UTC
        (`YYYY-MM-DDTHH:MM:SSZ`) or raw Unix epoch milliseconds. Cross-
        tenant attempts emit a security audit row BEFORE the 403.
      security:
        - BearerPAT: [admin]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string }
          description: Inclusive lower bound (ISO 8601 UTC or Unix ms).
        - name: to
          in: query
          required: true
          schema: { type: string }
          description: Exclusive upper bound (same shapes as `from`).
        - name: tenant
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: |
            The tenant whose chain is exported. When it differs from the
            authenticated principal's tenant, the route emits a cross-tenant
            attempt audit row and returns 403.
        - name: X-Tenant-Id
          in: header
          required: false
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: NDJSON stream of audit events.
          content:
            application/x-ndjson:
              schema:
                type: string
          headers:
            X-Chain-Head-Anchor:
              schema: { type: string }
              description: Hex BLAKE3 hash anchor for client verification.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt or canceled tenant.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
        "429":
          description: Per-tenant rate limit exceeded.
          headers:
            Retry-After:
              schema: { type: integer }

  /v1/audit/analytics/event-count:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/audit_analytics/handler_event_count.rs
    get:
      tags: [audit-analytics]
      summary: Event-type count aggregates over a time window.
      operationId: auditAnalyticsEventCount
      security:
        - BearerPAT: [admin]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: integer, format: int64, minimum: 0 }
        - name: to
          in: query
          required: true
          schema: { type: integer, format: int64, minimum: 0 }
        - name: event_type
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Aggregated counts grouped by event type.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventCountResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429":
          description: Rate-limit exceeded.

  /v1/audit/analytics/timeline:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/audit_analytics/handler_timeline.rs
    get:
      tags: [audit-analytics]
      summary: Event-count timeline bucketed at a chosen granularity.
      operationId: auditAnalyticsTimeline
      security:
        - BearerPAT: [admin]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: integer, format: int64, minimum: 0 }
        - name: to
          in: query
          required: true
          schema: { type: integer, format: int64, minimum: 0 }
        - name: granularity
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 86400000
          description: |
            Bucket size in milliseconds (capped at 24h). Default chosen by
            the handler to keep `(to - from) / granularity ≤ 1000`.
      responses:
        "200":
          description: Timeline buckets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimelineResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/cas/{tenant}/{hash}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/cas.rs (handle_read, handle_write)
    x-binding-note: |
      Backed by R2 storage in production (falls back to InMemory when creds
      absent). Cross-tenant denials are enforced at the route boundary and
      emit audit rows before the 403. Route constant:
      `CAS_READ_ROUTE = "/v1/cas/:tenant/:hash"`.
    get:
      tags: [reapi-http]
      summary: Read a CAS blob by `(tenant, content-hash)`.
      operationId: casRead
      security:
        - BearerPAT: []
      parameters:
        - name: tenant
          in: path
          required: true
          schema: { type: string }
        - name: hash
          in: path
          required: true
          schema:
            type: string
            description: Hex BLAKE3 digest.
      responses:
        "200":
          description: Blob bytes (opaque payload).
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt — audit row emitted before 403.
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [reapi-http]
      summary: Write a CAS blob by `(tenant, content-hash)`.
      operationId: casWrite
      security:
        - BearerPAT: []
      parameters:
        - name: tenant
          in: path
          required: true
          schema: { type: string }
        - name: hash
          in: path
          required: true
          schema:
            type: string
            description: Hex BLAKE3 digest the caller claims for this body.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
        description: Raw blob bytes. The handler verifies the hash against the path parameter before committing.
      responses:
        "201":
          description: Blob stored (durable commit). Body echoes the content hash.
          content:
            text/plain:
              schema: { type: string }
        "200":
          description: Idempotent re-write — blob already existed with identical hash.
          content:
            text/plain:
              schema: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.
        "422":
          description: Hash mismatch — body bytes do not match the claimed digest.

  /v1/cas/{digest}:
    x-status: implemented
    x-implementing-handler: crates/corelink-reapi/src/http_read.rs (handle_cas_get)
    x-binding-note: |
      REAPI read-only binary (`corelink-reapi::http_read`) — distinct
      listener from the container surface. Exposes the same intent as
      `/v1/cas/{tenant}/{hash}` but addresses blobs by canonical digest
      and resolves the tenant via auth context rather than path.
    get:
      tags: [reapi-http]
      summary: Read a CAS blob by canonical digest (REAPI binary).
      operationId: reapiCasGet
      security:
        - BearerPAT: []
      parameters:
        - name: digest
          in: path
          required: true
          schema:
            type: string
            description: Hex BLAKE3 digest.
      responses:
        "200":
          description: Blob bytes.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/ac/{tenant}/{action_digest}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/ac.rs (handle_lookup, handle_update)
    x-binding-note: |
      REAPI HTTP fake for the Action Cache — production AC traffic uses
      the gRPC ActionCache service. Cross-tenant denials emit
      `AuditEventKind::LookupDenied` / `UpdateDenied` BEFORE the 403.
    get:
      tags: [reapi-http]
      summary: Look up an Action Cache result.
      operationId: acLookup
      security:
        - BearerPAT: []
      parameters:
        - name: tenant
          in: path
          required: true
          schema: { type: string }
        - name: action_digest
          in: path
          required: true
          schema:
            type: string
            description: Hex digest of the action's `ActionResult` key.
      responses:
        "200":
          description: ActionResult payload.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [reapi-http]
      summary: Upsert an Action Cache result.
      operationId: acUpdate
      security:
        - BearerPAT: []
      parameters:
        - name: tenant
          in: path
          required: true
          schema: { type: string }
        - name: action_digest
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
        description: Raw ActionResult bytes.
      responses:
        "201":
          description: Stored durably (fresh insert). Body echoes the action digest.
          content:
            text/plain:
              schema: { type: string }
        "200":
          description: Idempotent re-write (already existed).
          content:
            text/plain:
              schema: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt — audit row emitted before 403.

  # ============================================================
  # HEALTH — server-only liveness probe
  # ============================================================

  /_health:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/main.rs (health_handler)
    x-reconciliation-note: |
      Mounted directly in main.rs as `.route("/_health", get(health_handler))`.
      Used by the Cloudflare Durable Object `waitForContainerHealth` probe
      (expects HTTP 200 + application/json) and by `scripts/smoke-prod-corelink.sh`.
      Returns `{"status":"ok"}` — no storage field yet (A4 may add it).
    get:
      tags: [ops]
      summary: Container liveness / readiness probe for the DO health check.
      operationId: containerHealth
      security: []
      responses:
        "200":
          description: Container is healthy.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [ok]
              example:
                status: ok

  # ============================================================
  # TURBO v8 — Turborepo remote-cache bridge
  # ============================================================

  /v8/artifacts/events:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/turbo_v8.rs (handle_events)
    post:
      tags: [turbo-v8]
      summary: Accept-and-drop Turborepo telemetry events.
      operationId: turboEvents
      security:
        - BearerPAT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Events acknowledged (dropped — telemetry is fire-and-forget).
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v8/artifacts/status:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/turbo_v8.rs (handle_status)
    post:
      tags: [turbo-v8]
      summary: Static remote-cache enabled check (Turbo status probe).
      operationId: turboStatus
      security:
        - BearerPAT: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Remote cache is enabled.
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v8/artifacts/{hash}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/turbo_v8.rs (handle_get, handle_put)
    x-reconciliation-note: |
      Route constants `TURBO_GET_ROUTE`/`TURBO_PUT_ROUTE` = `/v8/artifacts/:hash`.
      Query parameter `teamId` is **required**; must match the authenticated
      caller's tenant (cross-tenant guard). `slug` is optional/informational.
    get:
      tags: [turbo-v8]
      summary: Download a Turborepo build artifact.
      operationId: turboArtifactGet
      security:
        - BearerPAT: []
      parameters:
        - name: hash
          in: path
          required: true
          schema: { type: string }
          description: Artifact hash (Turborepo-generated key).
        - name: teamId
          in: query
          required: true
          schema: { type: string }
          description: Vercel team identifier — used as the storage partition key.
        - name: slug
          in: query
          required: false
          schema: { type: string }
          description: Informational repo slug (logged, not partitioned).
      responses:
        "200":
          description: Artifact bytes.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "400":
          description: Missing required `teamId` query parameter.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt (teamId does not match authenticated tenant).
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [turbo-v8]
      summary: Upload a Turborepo build artifact.
      operationId: turboArtifactPut
      security:
        - BearerPAT: []
      parameters:
        - name: hash
          in: path
          required: true
          schema: { type: string }
        - name: teamId
          in: query
          required: true
          schema: { type: string }
        - name: slug
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: Artifact stored. Body is `{"urls":["..."]}` per Vercel spec.
          content:
            application/json:
              schema:
                type: object
                required: [urls]
                properties:
                  urls:
                    type: array
                    items: { type: string }
        "400":
          description: Missing required `teamId` query parameter.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.

  # ============================================================
  # BAZEL v2 — REAPI HTTP bridge
  # ============================================================

  /bazel/v2/{instance}/blobs/{hash}/{size}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/bazel_v2.rs (handle_cas_read, handle_cas_write via uploads sub-path)
    x-reconciliation-note: |
      Axum resolves `/blobs/ac/:hash/:size` before `/blobs/:hash/:size`
      because the literal `ac` segment wins the matchit priority.
      Tenant is resolved from the `:instance` path segment (treated as
      the storage partition key); cross-tenant guard enforced.
    get:
      tags: [bazel-v2]
      summary: Read a CAS blob (Bazel REAPI ByteStream GET).
      operationId: bazelCasRead
      security:
        - BearerPAT: []
      parameters:
        - name: instance
          in: path
          required: true
          schema: { type: string }
          description: Bazel instance name (used as tenant partition key).
        - name: hash
          in: path
          required: true
          schema: { type: string }
          description: Hex SHA-256 digest.
        - name: size
          in: path
          required: true
          schema: { type: integer, format: int64 }
          description: Expected blob size in bytes (REAPI digest component).
      responses:
        "200":
          description: Blob bytes.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.
        "404": { $ref: "#/components/responses/NotFound" }

  /bazel/v2/{instance}/uploads/{uuid}/blobs/{hash}/{size}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/bazel_v2.rs (handle_cas_write)
    put:
      tags: [bazel-v2]
      summary: Write a CAS blob (Bazel REAPI ByteStream PUT).
      operationId: bazelCasWrite
      security:
        - BearerPAT: []
      parameters:
        - name: instance
          in: path
          required: true
          schema: { type: string }
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: Upload UUID (REAPI upload id, used for dedup).
        - name: hash
          in: path
          required: true
          schema: { type: string }
        - name: size
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: Blob stored.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.
        "413":
          description: Batch / blob too large.

  /bazel/v2/{instance}/blobs/ac/{hash}/{size}:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/bazel_v2.rs (handle_ac_read, handle_ac_write)
    get:
      tags: [bazel-v2]
      summary: Read an Action Cache result (Bazel REAPI AC GET).
      operationId: bazelAcRead
      security:
        - BearerPAT: []
      parameters:
        - name: instance
          in: path
          required: true
          schema: { type: string }
        - name: hash
          in: path
          required: true
          schema: { type: string }
        - name: size
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        "200":
          description: ActionResult bytes.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [bazel-v2]
      summary: Write an Action Cache result (Bazel REAPI AC PUT).
      operationId: bazelAcWrite
      security:
        - BearerPAT: []
      parameters:
        - name: instance
          in: path
          required: true
          schema: { type: string }
        - name: hash
          in: path
          required: true
          schema: { type: string }
        - name: size
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: ActionResult stored.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.

  /bazel/v2/{instance}/findMissingBlobs:
    x-status: implemented
    x-implementing-handler: crates/corelink-container/src/routes/bazel_v2.rs (handle_find_missing)
    post:
      tags: [bazel-v2]
      summary: Find missing blobs (Bazel REAPI FindMissingBlobs POST).
      operationId: bazelFindMissingBlobs
      security:
        - BearerPAT: []
      parameters:
        - name: instance
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: REAPI FindMissingBlobsRequest (JSON-encoded proto).
      responses:
        "200":
          description: List of digests not present in the cache.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Cross-tenant attempt.
        "413":
          description: Batch too large.

components:
  securitySchemes:
    BearerPAT:
      type: http
      scheme: bearer
      bearerFormat: PAT
      description: |
        `Authorization: Bearer <PAT>` where PAT is a 32-byte UUIDv7-derived
        opaque token (BLAKE3-keyed hash in DB). Tier 1 of the canonical
        auth ladder per `corelink-pat`. Scopes encoded in PAT row.
    ClerkSessionCookie:
      type: apiKey
      in: cookie
      name: __session
      description: Clerk browser session cookie (alternative to PAT for the
        web onboarding flow).
    StripeSignature:
      type: apiKey
      in: header
      name: Stripe-Signature
      description: HMAC-SHA256 webhook signature; verified by
        `apps/server::webhook::stripe_webhook_handler` against the
        secret in `STRIPE_WEBHOOK_SECRET` env var with a 5-minute
        replay window.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 128
      description: Client-generated idempotency token. Same key replays the
        original response (no duplicate provisioning).
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      schema:
        type: string
      description: PAT-CORRELATION-ID-001 propagation token.
    PatId:
      name: pat_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    AdminOperationReason:
      name: X-Admin-Operation-Reason
      in: header
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 512
      description: Free-text justification recorded in the audit envelope for
        every admin mutation. Required for all `/v1/admin/*` write endpoints.
    AdminOpId:
      name: op_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Malformed request.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Forbidden:
      description: Authenticated but not authorized for this resource.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Conflict:
      description: Idempotency or uniqueness conflict.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Unprocessable:
      description: Schema-valid but semantically invalid payload.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    RateLimited:
      description: Rate-limit exceeded.
      headers:
        Retry-After:
          schema: { type: integer, minimum: 1 }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    InternalError:
      description: Server error. Safe to retry idempotent operations.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
  examples:
    SignupRequestMinimal:
      summary: Minimal valid signup request.
      value:
        clerk_event_id: "evt_2NmPsl2HxqGq7BhM4VqW8Y3JxAa"
        email_hash: "8a5b6f0e3e2c1d4b9a7c0e5d2b8a9f4e3c6d1a0b4e7c2f1d9a6b3e0c5d8a4b7e"
        locale: "en-US"
        idempotency_key: "idem-2026-05-14-1f3c"
        correlation_id: "evt_2NmPsl2HxqGq7BhM4VqW8Y3JxAa"
  schemas:
    CustomerPat:
      type: object
      description: |
        One PAT row as returned by the `/v1/customer/keys` family. Metadata
        only — raw token material appears exactly once, in
        `CustomerKeyCreateResponse.token`, and never again.
      required: [pat_id, name, scopes, created_at]
      properties:
        pat_id:
          type: string
          description: Opaque PAT identifier.
        name:
          type: string
          description: Human-readable name given at creation.
        scopes:
          type: array
          items: { type: string }
          description: Granted scopes (e.g. `cas:r`, `cas:rw`).
        created_at:
          type: string
          description: ISO-8601 creation timestamp.
        last_used_at:
          type: [string, "null"]
          description: ISO-8601 timestamp of last use; `null` if never used.
        revoked_at:
          type: [string, "null"]
          description: ISO-8601 revocation timestamp; `null` while active.
    CustomerByokStatus:
      type: object
      description: BYOK posture for the tenant, returned alongside the PAT list.
      required: [status]
      properties:
        status:
          type: string
          enum: [none, active, rotation_pending]
        cmk_id:
          type: [string, "null"]
          description: CMK identifier when `status` is not `none`.
        last_rotated_at:
          type: [string, "null"]
          description: ISO-8601 timestamp of the last rotation, when present.
    CustomerKeysListResponse:
      type: object
      required: [pats, byok]
      properties:
        pats:
          type: array
          items: { $ref: "#/components/schemas/CustomerPat" }
        byok: { $ref: "#/components/schemas/CustomerByokStatus" }
    CustomerKeyCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Human-readable name for the new PAT.
        scopes:
          type: array
          items: { type: string }
          default: []
          description: |
            Scopes to grant. Requesting any write/admin scope requires the
            caller to already hold a cache-write capability.
    CustomerKeyCreateResponse:
      type: object
      required: [pat, token]
      properties:
        pat: { $ref: "#/components/schemas/CustomerPat" }
        token:
          type: string
          description: |
            Raw bearer token. Shown **once**; it is hashed before storage and
            is not recoverable afterwards.
    CustomerKeyRevokeResponse:
      type: object
      required: [pat]
      properties:
        pat: { $ref: "#/components/schemas/CustomerPat" }
    DpaAcceptRequest:
      type: object
      additionalProperties: false
      required: [dpa_version, dpa_locale, notice_text_hash]
      description: |
        Unknown fields are rejected (`400 bad_request`) — in particular a
        smuggled `tenant_id`, which is header-bound at the edge and never read
        from the body.
      properties:
        dpa_version:
          type: string
          description: |
            DPA template version accepted. Must equal the server's current
            version, else `400 dpa_version_mismatch`.
        dpa_locale:
          type: string
          enum: [en, pt, es, en-US, pt-BR, es-419]
          description: |
            UI locale. Closed GA set — anything outside it (`de` included) is
            `400 unsupported_locale`.
        notice_text_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: Client-computed SHA-256 (hex64) of the rendered notice text.
        ui_capture_ts:
          type: integer
          format: int64
          description: |
            Client-captured click timestamp (ms since epoch). Optional for
            older clients; when absent the server uses its own time.
    DpaAcceptResponse:
      type: object
      required: [audit_event_id, dpa_version, dpa_locale, dpa_accepted_at]
      properties:
        audit_event_id:
          type: string
          description: Immutable audit reference (the RS256 receipt `jti`).
        dpa_version:
          type: string
          description: Accepted DPA version (echoed).
        dpa_locale:
          type: string
          description: Accepted locale, canonicalised to BCP-47.
        dpa_accepted_at:
          type: string
          description: Acceptance time (ms since epoch, as a string).
    DpaAcceptError:
      type: object
      required: [error]
      description: |
        The DPA-accept route returns this bare envelope, NOT the shared
        `ErrorEnvelope`.
      properties:
        error:
          type: string
          enum:
            - unauthenticated
            - no_verified_tenant
            - bad_request
            - unsupported_locale
            - dpa_version_mismatch
            - internal
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Stable machine-readable code from the canonical
                error taxonomy (`error_taxonomy.md`).
              examples: ["COR_ABUSE_DETECTED", "COR_DPA_REQUIRED",
                "COR_MFA_STEP_UP_REQUIRED", "COR_RATE_LIMITED"]
            message:
              type: string
              description: Human-readable explanation (locale-neutral; do
                NOT echo back PII).
            request_id:
              type: string
              format: uuid
              description: Server-assigned request id for support
                correlation.
            details:
              type: object
              additionalProperties: true
    SignupRequest:
      type: object
      required: [clerk_event_id, email_hash, locale, idempotency_key, correlation_id]
      properties:
        clerk_event_id:
          type: string
          description: Clerk webhook event id (idempotency anchor at the
            identity provider).
        email_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: SHA-256 hex of normalized email. **Raw email is NEVER
            transmitted to the server** (CTRL-PRIV-001).
        locale:
          $ref: "#/components/schemas/Bcp47Locale"
        idempotency_key:
          type: string
        correlation_id:
          type: string
    SignupResponse:
      type: object
      required: [signup_id, tenant_id, outcome, first_pat]
      properties:
        signup_id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        outcome:
          type: string
          enum: [Provisioned, Deferred, Duplicate, Rejected]
        billing_intent:
          type: string
          enum: [Linked, PendingBillingLink, Deferred]
        first_pat:
          $ref: "#/components/schemas/PatShownOnce"
        primary_region:
          $ref: "#/components/schemas/PrimaryRegion"
    ConsentProofPayload:
      type: object
      required: [notice_text_hash, notice_version, locale, wording_id, ui_capture_ts]
      properties:
        notice_text_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: SHA-256 of the notice text the user saw.
        notice_version:
          type: string
          examples: ["dpa.v3.2.0", "consent.analytics.v1.4.0"]
        locale:
          $ref: "#/components/schemas/Bcp47Locale"
        wording_id:
          type: string
          format: uuid
          description: UUIDv7 deterministically derived from `notice_version`.
        ui_capture_ts:
          type: integer
          format: int64
          description: Client-side `Date.now()` at click.
        submission_ts:
          type: integer
          format: int64
          description: Server-assigned (overwrites any client value).
          readOnly: true
    SubscriptionTier:
      type: string
      enum: [free, team, business, enterprise]
    TierSelectRequest:
      type: object
      required: [tier]
      properties:
        tier: { $ref: "#/components/schemas/SubscriptionTier" }
        success_url:
          type: string
          format: uri
          description: Stripe Checkout success redirect.
        cancel_url:
          type: string
          format: uri
    TierSelectResponse:
      type: object
      required: [checkout_session_url, checkout_session_id, tier]
      properties:
        checkout_session_url: { type: string, format: uri }
        checkout_session_id: { type: string }
        tier: { $ref: "#/components/schemas/SubscriptionTier" }
    PatMetadata:
      type: object
      description: |
        PAT metadata as returned by the **signup** flow (`/v1/signup`). This is
        NOT the shape of the `/v1/customer/keys` family — that surface returns
        `CustomerPat`, whose field names differ (`name`/`created_at` rather
        than `label`/`created_at_ms`, and no `prefix`).
      required: [pat_id, label, scopes, created_at_ms, prefix]
      properties:
        pat_id: { type: string, format: uuid }
        label: { type: string }
        scopes:
          type: array
          items: { type: string }
        created_at_ms: { type: integer, format: int64 }
        last_used_at_ms: { type: [integer, "null"], format: int64 }
        expires_at_ms: { type: [integer, "null"], format: int64 }
        revoked_at_ms: { type: [integer, "null"], format: int64 }
        prefix:
          type: string
          description: First 8 chars of the raw token (display only).
    PatShownOnce:
      allOf:
        - $ref: "#/components/schemas/PatMetadata"
        - type: object
          required: [shown_once_token]
          properties:
            shown_once_token: { type: string }
    StripeWebhookEnvelope:
      type: object
      description: The Stripe-shaped event envelope; only fields the
        handler reads are typed here.
      required: [id, type]
      properties:
        id: { type: string, examples: ["evt_1NXYZabcDEFghi"] }
        type:
          type: string
          examples: ["checkout.session.completed",
            "customer.subscription.created",
            "customer.subscription.updated",
            "customer.subscription.deleted",
            "invoice.payment_succeeded",
            "invoice.payment_failed"]
        created: { type: integer, format: int64 }
        livemode: { type: boolean }
        data:
          type: object
          additionalProperties: true
        api_version: { type: string }
    DsrAction:
      type: string
      enum: [access, portability, rectification, erasure, restriction, objection]
    DsrJurisdiction:
      type: string
      enum: [Lgpd, Gdpr, Ccpa]
    DsrStatus:
      type: string
      enum: [Pending, InProgress, Completed, Rejected]
    DsrRequest:
      type: object
      required: [data_subject_id, jurisdiction]
      properties:
        data_subject_id:
          type: string
          description: Pseudonymized subject id (per `corelink-privacy-pseudonymize`).
        jurisdiction: { $ref: "#/components/schemas/DsrJurisdiction" }
        request_payload_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: SHA-256 of the rectification / portability payload (when
            applicable). Used as part of the idempotency 4-tuple.
        notes:
          type: string
          maxLength: 4096
    DsrAcceptedReceipt:
      type: object
      required: [request_id, status, sla_deadline_ms, jwt_receipt]
      properties:
        request_id: { type: string, format: uuid }
        status: { $ref: "#/components/schemas/DsrStatus" }
        sla_deadline_ms: { type: integer, format: int64 }
        jwt_receipt:
          type: string
          description: RS256-signed JWT (90-day validity per
            `RECEIPT_EXPIRY_DAYS`).
    DsrTicket:
      type: object
      required: [request_id, status, sla_deadline_ms]
      properties:
        request_id: { type: string, format: uuid }
        status: { $ref: "#/components/schemas/DsrStatus" }
        sla_deadline_ms: { type: integer, format: int64 }
        rejected_reason:
          type: [string, "null"]
        receipt:
          $ref: "#/components/schemas/DsrAcceptedReceipt"
    AdminOpType:
      type: string
      enum:
        - ConfigRollback
        - SecretRotationStart
        - TenantTombstone
        - GlobalCircuitOverride
        - RegionMigration
        - PatRevokeAll
        - AbuseAppeal
    AuditEvent:
      type: object
      required: [event_id, event_type, occurred_at_ms]
      properties:
        event_id: { type: string, format: uuid }
        event_type:
          type: string
          examples: ["corelink.signup.completed",
            "corelink.dsr.request_received",
            "corelink.consent.granted",
            "corelink.admin.op.approved"]
        tenant_id: { type: [string, "null"], format: uuid }
        occurred_at_ms: { type: integer, format: int64 }
        correlation_id: { type: [string, "null"] }
        payload:
          type: object
          additionalProperties: true
    TenantSummary:
      type: object
      required: [tenant_id, region, tier, state, created_at_ms]
      properties:
        tenant_id: { type: string, format: uuid }
        region: { $ref: "#/components/schemas/PrimaryRegion" }
        tier: { $ref: "#/components/schemas/SubscriptionTier" }
        state:
          type: string
          enum: [active, deferred_billing, read_only_frozen, tombstoned]
        created_at_ms: { type: integer, format: int64 }
        primary_contact_email_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: SHA-256 hex; raw email NOT exposed.
    UserProfile:
      type: object
      required: [user_id, email_hash, locale, created_at_ms]
      properties:
        user_id: { type: string, format: uuid }
        email_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
        locale: { $ref: "#/components/schemas/Bcp47Locale" }
        display_name: { type: [string, "null"] }
        created_at_ms: { type: integer, format: int64 }
        active_tenants:
          type: array
          items: { type: string, format: uuid }
    UserProfilePatch:
      type: object
      properties:
        locale: { $ref: "#/components/schemas/Bcp47Locale" }
        display_name: { type: [string, "null"], maxLength: 128 }
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [SERVING, NOT_SERVING]
        version: { type: string, examples: ["0.1.0"] }
        commit: { type: string, examples: ["445e3cc"] }
    Bcp47Locale:
      type: string
      examples: ["en-US", "pt-BR", "fr-FR"]
      description: BCP-47 locale (Lote 10.16 canonical 3-locale set
        currently — en-US, pt-BR, fr-FR).
    PrimaryRegion:
      type: string
      enum: [Enam, Sam, Eu]
      description: 3-region canonical map per `corelink-region` / Lote
        10.16 locale→region binding.

    # ----------------------------------------------------------
    # Reconciled 2026-05-27 — schemas for the SERVER-ONLY routes
    # added to the contract per
    # specs/_audits/2026-05-27-openapi-reconciliation-seal.md.
    # ----------------------------------------------------------

    PilotSignupRequest:
      type: object
      required: [email, company_name, tier_hint, expected_use_case]
      properties:
        email:
          type: string
          format: email
          maxLength: 256
        company_name:
          type: string
          maxLength: 256
        tier_hint:
          type: string
          enum: [free, pro, enterprise]
        expected_use_case:
          type: string
          maxLength: 256
      description: |
        Request body for `POST /v1/signup/pilot/{token}`. All four fields
        are required; each is capped at 256 chars
        (`MAX_FIELD_LEN` in `crates/corelink-container/src/routes/signup.rs`).

    PilotSignupResponse:
      type: object
      required: [tenant_id, activation_url, state]
      properties:
        tenant_id:
          type: string
          format: uuid
          description: UUIDv7 assigned to the reserved pilot tenant.
        activation_url:
          type: string
          format: uri
          description: >-
            Where the applicant completes account creation. Points at the live
            Clerk sign-up surface, carrying the reservation id as the `pilot`
            query parameter.
          examples: ["https://humangr.com/corelink/sign-up?pilot=01J..."]
        state:
          type: string
          enum: [RESERVED]

    AdminMutateBody:
      type: object
      required: [op_kind, initiator, initiator_is_admin]
      properties:
        op_kind:
          type: string
          enum: [set_tenant_tier, rotate_admin_token]
        tenant:
          type: string
          description: Tenant id (required for `set_tenant_tier`).
        tier:
          type: string
          description: Target tier (required for `set_tenant_tier`).
        token_id:
          type: string
          description: Token id (required for `rotate_admin_token`).
        initiator:
          type: string
          description: Principal initiating the mutation.
        initiator_is_admin:
          type: boolean
        approval_id:
          type: string
          description: |
            Dual-approval ledger id (omit = rejected — handler emits
            `MutateDualApprovalRejected` BEFORE the 403).
        approver:
          type: string
          description: Second approver principal (must differ from initiator).

    PilotState:
      type: string
      enum: [NEW, ACTIVE, GRADUATED, TERMINATED]

    PilotTenant:
      type: object
      required: [tenant_id, slug, tier, cap_bytes, pilot_state, signup_at_ms]
      properties:
        tenant_id: { type: string, format: uuid }
        slug: { type: string }
        tier: { type: string }
        cap_bytes:
          type: integer
          format: int64
          minimum: 0
        pilot_state:
          $ref: "#/components/schemas/PilotState"
        signup_at_ms:
          type: integer
          format: int64
          minimum: 0
        tier_granted_at_ms:
          type: [integer, "null"]
          format: int64
          minimum: 0
        first_blob_at_ms:
          type: [integer, "null"]
          format: int64
          minimum: 0

    ListPilotsResponse:
      type: object
      required: [state, rows, offset, limit]
      properties:
        state:
          $ref: "#/components/schemas/PilotState"
        rows:
          type: array
          items: { $ref: "#/components/schemas/PilotTenant" }
        offset:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
          maximum: 200

    GrantTierBody:
      type: object
      required: [tier, cap_bytes]
      properties:
        tier:
          type: string
          description: Target tier (mirrors `grant-pilot-tier.sh` taxonomy).
        cap_bytes:
          type: integer
          format: int64
          minimum: 0

    GrantTierResponse:
      type: object
      required: [tenant]
      properties:
        tenant:
          $ref: "#/components/schemas/PilotTenant"

    EventCountEntry:
      type: object
      required: [event_type, count]
      properties:
        event_type: { type: string }
        count:
          type: integer
          format: int64
          minimum: 0

    EventCountResponse:
      type: object
      required: [buckets]
      properties:
        buckets:
          type: array
          items: { $ref: "#/components/schemas/EventCountEntry" }

    TimelineEntry:
      type: object
      required: [bucket_start_ms, count]
      properties:
        bucket_start_ms:
          type: integer
          format: int64
          minimum: 0
        count:
          type: integer
          format: int64
          minimum: 0

    TimelineResponse:
      type: object
      required: [buckets, granularity_ms]
      properties:
        buckets:
          type: array
          items: { $ref: "#/components/schemas/TimelineEntry" }
        granularity_ms:
          type: integer
          format: int64
          minimum: 1
          maximum: 86400000
