{
  "openapi": "3.1.0",
  "info": {
    "title": "CoreLink Customer & Privacy REST API",
    "version": "0.1.0",
    "summary": "REST surface for CoreLink customer onboarding, privacy (DSR / DPA), billing webhooks, admin operations and health.",
    "description": "Hand-authored OpenAPI 3.1 contract for the **non-REAPI** surface of CoreLink.\nThe high-volume CAS / AC / ByteStream / Capabilities surface is gRPC\n(Remote Execution API v2) and documented separately under\n`docs/reference/reapi/`.\n\nEndpoint canonical paths are sourced from the implementing crates' doc-comments:\n`corelink-signup`, `corelink-dpa-acceptance`, `corelink-dpa-versioning`,\n`corelink-tier-selection`, `corelink-pat`, `corelink-dsr`,\n`corelink-admin-api`,\n`corelink-enterprise-inquiry`, plus `apps/server::webhook` (Stripe).\n\n**Stability:** `v1` \u2014 public, semver-compatible. Breaking changes require a\nnew major path prefix (`/v2/...`).\n",
    "termsOfService": "https://corelink-docs.humangr.com/legal/terms",
    "contact": {
      "name": "CoreLink Support",
      "email": "support@humangr.com",
      "url": "mailto:support@humangr.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://corelink-docs.humangr.com/legal/terms"
    }
  },
  "servers": [
    {
      "url": "https://corelink-api.humangr.com",
      "description": "Production (Cloudflare Durable Object + container)"
    },
    {
      "url": "http://localhost:50051",
      "description": "Local dev (axum container, PORT env default)"
    }
  ],
  "tags": [
    {
      "name": "signup",
      "description": "Customer onboarding orchestration (atomic tenant + DPA + first PAT provisioning)."
    },
    {
      "name": "dpa",
      "description": "Data Processing Addendum click-through acceptance and re-acceptance."
    },
    {
      "name": "tier",
      "description": "Subscription tier selection + Stripe Checkout handoff."
    },
    {
      "name": "pat",
      "description": "Personal Access Token CRUD (token material shown once)."
    },
    {
      "name": "billing",
      "description": "Stripe billing webhook ingestion."
    },
    {
      "name": "privacy-dsr",
      "description": "GDPR / LGPD / CCPA Data Subject Request self-service."
    },
    {
      "name": "admin",
      "description": "Admin operations (dual-approval gated, MFA-fresh, audit-emit-BEFORE-mutate)."
    },
    {
      "name": "enterprise",
      "description": "Enterprise sales inquiry intake."
    },
    {
      "name": "users",
      "description": "Current-user profile (Clerk-authenticated)."
    },
    {
      "name": "data-categories",
      "description": "Reference list of canonical data-category enums (privacy_model \u00a75.6)."
    },
    {
      "name": "ops",
      "description": "Operational health and browser CSP report intake."
    },
    {
      "name": "signup-pilot",
      "description": "Pilot-programme signup-token redemption (HMAC-gated, 14d TTL)."
    },
    {
      "name": "admin-read-mutate",
      "description": "Admin read + dual-approval-gated mutate (in-memory wire-up demonstration; production binding pending)."
    },
    {
      "name": "admin-pilot",
      "description": "Pilot tenant admin (list / grant-tier / 24h checkin)."
    },
    {
      "name": "audit-export",
      "description": "Bulk audit-chain export from R2 (per-tenant, signed window)."
    },
    {
      "name": "audit-analytics",
      "description": "Audit-event analytics aggregates (event-count + timeline)."
    },
    {
      "name": "reapi-http",
      "description": "HTTP surface for the Remote Execution API v2 (CAS / AC). Backed by R2 storage in production; falls back to in-memory for local dev."
    },
    {
      "name": "turbo-v8",
      "description": "Turborepo remote-cache bridge (Vercel v8 protocol) \u2014 `GET/PUT /v8/artifacts/{hash}`, events, status."
    },
    {
      "name": "bazel-v2",
      "description": "Bazel REAPI v2 HTTP bridge \u2014 `/bazel/v2/{instance}/blobs/...` and `/bazel/v2/{instance}/findMissingBlobs`."
    }
  ],
  "security": [
    {
      "BearerPAT": []
    },
    {
      "ClerkSessionCookie": []
    }
  ],
  "paths": {
    "/v1/signup": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-signup",
      "x-served-at": "worker/src/index.ts:972 (edge-terminated)",
      "x-reconciliation-note": "Distinct intent from the SERVER-ONLY `/v1/signup/pilot/{token}`\n(pilot-program HMAC-token redemption, axum-mounted in\n`crates/corelink-container/src/routes/signup.rs`). The customer-\nfacing self-service signup endpoint is the one documented here;\n`crates/corelink-signup` ships the orchestrator + atomic-\nprovisioning logic and the Worker terminates the route at the edge.\n",
      "post": {
        "tags": [
          "signup"
        ],
        "summary": "Provision a new tenant from a verified Clerk identity.",
        "operationId": "signup",
        "description": "Idempotent signup orchestration. The orchestrator wraps tenant row +\nDPA acceptance row + first PAT issuance in a single atomic D1\ntransaction (`INV-ONBOARD-ATOMIC-PROVISIONING`). Stripe customer\ncreation is a best-effort saga step \u2014 Stripe outage degrades to\n`Deferred` with `billing_intent=\"deferred\"`; the tenant is still\nprovisioned and signed up.\n\nRequest body intentionally has **no PAT field** (`CTRL-CRED-001`);\nthe first PAT is returned in the response (shown-once token).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              },
              "examples": {
                "minimal": {
                  "$ref": "#/components/examples/SignupRequestMinimal"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant provisioned (atomic D1 commit succeeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "202": {
            "description": "Tenant provisioned, billing deferred (Stripe outage / chaos).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "Transient backend outage (Stripe or D1); safe to retry with same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/onboarding/dpa-accept": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-container",
      "x-served-at": "crates/corelink-container/src/routes/dpa_accept.rs:634",
      "post": {
        "tags": [
          "dpa"
        ],
        "summary": "Record click-through acceptance of the current DPA version.",
        "operationId": "dpaAccept",
        "security": [
          {
            "ClerkSessionCookie": []
          }
        ],
        "description": "Records the click-through consent proof for the caller's tenant and\nreturns the immutable audit reference for it. The tenant is taken from\nthe Clerk-authenticated session at the edge and is **never** read from\nthe body \u2014 a smuggled `tenant_id` is rejected (`400 bad_request`,\nunknown fields are denied).\n\nIdempotent on `(tenant, dpa_version)`: replaying an acceptance returns\nthe original `audit_event_id` unchanged, with the same `200`.\n\n`dpa_version` must equal the server's current DPA version; an older\none is rejected with `400 dpa_version_mismatch`. `dpa_locale` must be\ninside the closed GA locale set (`en-US` / `pt-BR` / `es-419`, and\ntheir bare-language forms); anything else \u2014 `de` included \u2014 is\n`400 unsupported_locale`.\n\n`INV-ONBOARD-DPA-FIRST`: `/v1/onboarding/tier-select` stays locked\nuntil an acceptance row exists for the tenant.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpaAcceptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance recorded \u2014 or replayed unchanged, which returns the same\nbody as the original acceptance.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpaAcceptResponse"
                }
              }
            }
          },
          "400": {
            "description": "`bad_request` (malformed JSON, unknown field, malformed notice\nhash), `unsupported_locale`, or `dpa_version_mismatch`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpaAcceptError"
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated` (edge internal-auth failed) or\n`no_verified_tenant` (no tenant bound to the session).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpaAcceptError"
                }
              }
            }
          },
          "500": {
            "description": "`internal` \u2014 durable-store or receipt-signing failure. Fail-CLOSED:\nnever reported as \"already accepted\".\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpaAcceptError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/onboarding/tier-select": {
      "post": {
        "tags": [
          "tier"
        ],
        "summary": "Select a subscription tier and receive a Stripe Checkout session URL.",
        "operationId": "tierSelect",
        "x-status": "implemented",
        "x-implementing-crate": "corelink-tier-selection",
        "x-served-at": "crates/corelink-container/src/routes/tier_select.rs:588",
        "description": "Enforces `INV-ONBOARD-DPA-FIRST` via a D1 lock \u2014 tier selection is\nrejected until a DPA acceptance row exists for the tenant.\nReturns a Stripe Checkout session URL; final activation happens\nwhen the corresponding `checkout.session.completed` event lands\non `/v1/billing/stripe-webhook`.\nA tenant may have only one payable checkout in flight. Repeating the\nrequest is idempotent for that tenant; a second paid subscription is\nrejected rather than replacing the existing billing owner.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierSelectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierSelectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "DPA-first lock \u2014 caller must accept current DPA before selecting a tier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/customer/keys": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-container",
      "x-served-at": "crates/corelink-container/src/routes/customer.rs:212",
      "get": {
        "tags": [
          "pat"
        ],
        "summary": "List the tenant's Personal Access Tokens (metadata only).",
        "operationId": "customerKeysList",
        "description": "Returns PAT metadata plus the tenant's BYOK status. No raw token\nmaterial is ever returned here.\n\nRequires a cache-**write** capability: enumerating a tenant's\ncredentials is an admin operation, so a read-only (`cas:r`) token is\nrejected with `403`.\n",
        "responses": {
          "200": {
            "description": "PAT list (metadata only) and BYOK status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerKeysListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "pat"
        ],
        "summary": "Issue a new Personal Access Token.",
        "operationId": "customerKeysCreate",
        "description": "Returns the raw token material **once**, in the `token` field. The\ntoken is hashed before storage; every subsequent read returns metadata\nonly.\n\nMinting a credential that carries any write/admin scope requires the\ncaller to already hold a cache-write capability \u2014 a read-only token\ncannot bootstrap a write token for itself (`403`).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerKeyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PAT issued. `token` is shown exactly once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerKeyCreateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/customer/keys/{pat_id}/revoke": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-container",
      "x-served-at": "crates/corelink-container/src/routes/customer.rs:216",
      "post": {
        "tags": [
          "pat"
        ],
        "summary": "Revoke a Personal Access Token by id.",
        "operationId": "customerKeyRevoke",
        "description": "Revocation is a destructive tenant-admin operation. It requires the\nserver-trusted `owner` or `admin` team role from a Clerk dashboard\nsession; cache-write scope alone is not sufficient. An owner may\nrevoke any PAT in the tenant. An admin may revoke member PATs but is\nrejected with `403` for the owner's PAT. Members, viewers, native PAT\ncallers, and cross-tenant targets are rejected (the latter as `404`).\nSubsequent uses of the revoked token MUST fail closed\n(`INV-PAT-REVOKE-PROPAGATION`).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PatId"
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked. Returns the PAT metadata with `revoked_at` set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerKeyRevokeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/customer/team/invite": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/customer.rs (handle_team_invite)",
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Create a one-time cryptographic team invitation.",
        "operationId": "customerTeamInvite",
        "security": [
          {
            "ClerkSessionCookie": []
          },
          {
            "BearerPAT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInviteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created. The token is shown exactly once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInviteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/customer/team/accept": {
      "x-status": "implemented",
      "x-implementing-handler": "worker/src/lib/team_invitation.ts",
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Redeem a team invitation for the verified Clerk user.",
        "operationId": "customerTeamAccept",
        "security": [
          {
            "ClerkSessionCookie": []
          }
        ],
        "description": "Requires the authenticated user's Clerk primary email to be explicitly\nmarked `verified`. The opaque token is tenant-bound by its stored\ndigest; no tenant id is accepted from the caller. The expiry check,\naudit event and one-row status transition are atomic, so replay fails.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInviteAcceptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation accepted exactly once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInviteAcceptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/customer/account/delete": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/customer.rs (handle_account_delete)",
      "x-served-at": "crates/corelink-container/src/routes/customer.rs:264",
      "post": {
        "tags": [
          "privacy-dsr"
        ],
        "summary": "Request deletion of the authenticated tenant account.",
        "operationId": "customerAccountDelete",
        "security": [
          {
            "ClerkSessionCookie": []
          }
        ],
        "description": "Requests GDPR/LGPD erasure of the caller's whole tenant account. This\nirreversible operation is restricted to the tenant owner using a\nClerk-authenticated dashboard session; a cache PAT is rejected.\n\nThe request is durably anchored and queued before acknowledgement. A\nrepeated request is safe and returns the same accepted outcome. The\nresponse does not claim that erasure has completed: it only confirms\nthat the erasure workflow was accepted (`erasure_requested`) or that\nno account remained (`no_account`).\n",
        "responses": {
          "202": {
            "description": "Erasure request accepted or idempotent no-account acknowledgement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "Erasure worker is not configured; no acknowledgement was emitted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/account/export": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/customer.rs (handle_account_export)",
      "x-served-at": "crates/corelink-container/src/routes/customer.rs:265",
      "post": {
        "tags": [
          "privacy-dsr"
        ],
        "summary": "Export the authenticated tenant's portability bundle.",
        "operationId": "customerAccountExport",
        "security": [
          {
            "ClerkSessionCookie": []
          },
          {
            "BearerPAT": []
          }
        ],
        "description": "Streams the complete tenant portability bundle as bounded,\ncontent-addressed NDJSON: governance records first, then CAS/AC blob\nbytes, followed by a manifest. Only an owner/admin with a dashboard\nsession or a write-capable PAT may invoke it; read-only cache tokens are\nrejected because the bundle contains team PII, DPA/audit records and\nall tenant blobs.\n\nThe export is rate-limited and an audit record is durably written before\nthe first byte is disclosed. A source or audit failure returns a 5xx\nbefore streaming begins; the `x-corelink-export-schema` header is\n`corelink.tenant_export.v1`.\n",
        "responses": {
          "200": {
            "description": "Portability bundle streamed as newline-delimited JSON.",
            "headers": {
              "x-corelink-export-schema": {
                "description": "Stable export wire-schema identifier.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "corelink.tenant_export.v1"
                  ]
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "Export source is not configured or temporarily unavailable.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pats": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/customer.rs (handle_pats_create)",
      "x-served-at": "crates/corelink-container/src/routes/customer.rs:256",
      "x-reconciliation-note": "Compatibility alias for `POST /v1/customer/keys`. Both routes use the\nsame customer-plane issuance handler and the same Clerk/PAT auth gates.\nNew integrations should use `/v1/customer/keys`; this alias remains\ndocumented while existing clients migrate so a served route is never\nsilently omitted from the published contract.\n",
      "post": {
        "tags": [
          "pat"
        ],
        "summary": "Issue a Personal Access Token (compatibility alias).",
        "operationId": "patIssueCompatibilityAlias",
        "security": [
          {
            "ClerkSessionCookie": []
          },
          {
            "BearerPAT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerKeyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PAT issued. `token` is shown exactly once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerKeyCreateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/billing/stripe-webhook": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-container",
      "x-served-at": "crates/corelink-container/src/webhook.rs:56 (STRIPE_WEBHOOK_ROUTE)",
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Receive a Stripe webhook event (HMAC-SHA256 signature required).",
        "operationId": "stripeWebhook",
        "description": "Implemented at `apps/server::webhook::stripe_webhook_handler`.\nValidates the `Stripe-Signature` header (5-minute replay window),\ndeduplicates on `event.id`, then dispatches to the subscription\nhandler. Unknown / out-of-scope event types are acknowledged with\n200 OK (fire-and-forget contract).\n\n**NOT secured by BearerPAT / Clerk** \u2014 see `StripeSignature` scheme.\n",
        "security": [
          {
            "StripeSignature": []
          }
        ],
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stripe HMAC-SHA256 signature header (`t=<unix>,v1=<sig>`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StripeWebhookEnvelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted (including idempotent replays and acknowledged unknown event types).",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid signature, or malformed event body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Transient backend error; Stripe will retry.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/privacy/dsr/{action}": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-dsr",
      "x-served-at": "crates/corelink-container/src/routes/dsr/portal.rs:719-724",
      "x-reconciliation-note": "Mounted as six enumerated literals (`/access`, `/portability`,\n`/rectification`, `/erasure`, `/restriction`, `/objection`) rather than\none templated segment \u2014 an `{action}` outside that closed set is a 404,\nnot a validation error.\n",
      "post": {
        "tags": [
          "privacy-dsr"
        ],
        "summary": "Submit a Data Subject Request (GDPR / LGPD / CCPA).",
        "operationId": "dsrSubmit",
        "description": "6 supported actions per `corelink-dsr::event::DsrRequestKind`:\n`access`, `portability`, `rectification`, `erasure`, `restriction`,\n`objection`. Destructive arms (`erasure`, `rectification`) require\na fresh MFA step-up token via `X-MFA-Step-Up-Token`.\n\nReturns an RS256-signed JWT receipt (90-day validity) on\nacceptance. SLA deadline is jurisdiction-bound (GDPR 30d / LGPD\n15d / CCPA 45d).\n",
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DsrAction"
            }
          },
          {
            "name": "X-MFA-Step-Up-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when `action` is `erasure` or `rectification` (per `corelink-dsr::mfa`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DsrRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DsrAcceptedReceipt"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "MFA step-up required (destructive arm) or token expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/privacy/dsr/{request_id}/status": {
      "x-status": "implemented",
      "x-implementing-crate": "corelink-dsr",
      "x-served-at": "crates/corelink-container/src/routes/dsr/portal.rs:726",
      "get": {
        "tags": [
          "privacy-dsr"
        ],
        "summary": "Poll the status of a previously submitted DSR.",
        "operationId": "dsrStatus",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUIDv7 of the DSR request."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DsrTicket"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/users/me": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/users.rs (handle_me)",
      "x-reconciliation-note": "Live in production. Returns the PAT-resolved caller identity that the\nWorker injected via `x-corelink-tenant-id`, `x-corelink-token-prefix`,\n`x-corelink-route-kind` headers before proxying to the Durable Object.\nPATCH is NOT wired \u2014 `users.rs` registers only GET.\n",
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Reflect the authenticated caller's PAT identity.",
        "operationId": "usersMeGet",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "description": "Returns the PAT-resolved identity injected by the Worker into three\ntrusted headers. Clients call this to verify their PAT is wired\ncorrectly without exercising the CAS/AC data plane. The raw PAT is\nnever reflected.\n",
        "responses": {
          "200": {
            "description": "Caller identity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tenant_id",
                    "token_prefix",
                    "route_kind"
                  ],
                  "properties": {
                    "tenant_id": {
                      "type": "string",
                      "description": "PAT-resolved tenant UUID (or `_unknown` if header absent)."
                    },
                    "token_prefix": {
                      "type": "string",
                      "description": "Token prefix for audit correlation (NOT the raw PAT secret)."
                    },
                    "route_kind": {
                      "type": "string",
                      "description": "Route family (e.g. `reapi_v1`)."
                    }
                  }
                },
                "example": {
                  "tenant_id": "550e8400-e29b-41d4-a716-446655440000",
                  "token_prefix": "clpat_abcd",
                  "route_kind": "reapi_v1"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/health": {
      "x-status": "implemented",
      "x-served-at": "worker/src/index.ts:878 (edge-terminated)",
      "x-reconciliation-note": "Terminated at the edge by the Worker \u2014 it never reaches the container.\nNot to be confused with the adapter-host pip server's own `/healthz`\n(that is the pip-adapter port, not the customer API surface), nor with\nthe container's `/_health`, which is documented separately.\n",
      "get": {
        "tags": [
          "ops"
        ],
        "summary": "Liveness / readiness probe.",
        "operationId": "apiHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signup/pilot/{token}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/signup.rs (handle_pilot_signup)",
      "post": {
        "tags": [
          "signup-pilot"
        ],
        "summary": "Redeem an HMAC-signed pilot signup token.",
        "operationId": "pilotSignup",
        "description": "Server-only route (axum-mounted). Token format\n`pilot_<env>_<unix_ms>_<16-hex-random>.<hmac-hex>` verified in\nconstant time via `subtle::ConstantTimeEq`. TTL 14 days from mint.\nRate-limited 5/IP/hour. Audit-emit fail-CLOSED per\n`INV-AUDIT-EMIT-ATOMIC-WITH-HANDLER`.\n",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pilot_(staging|prod)_[0-9]+_[0-9a-f]{16}\\.[0-9a-f]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PilotSignupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pilot tenant reserved; activation URL returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PilotSignupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Malformed / expired / forged token.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Per-IP rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "503": {
            "description": "Audit pipeline or signup store unavailable (fail-CLOSED).",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/read/{resource}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/admin.rs (handle_read)",
      "get": {
        "tags": [
          "admin-read-mutate"
        ],
        "summary": "Admin-plane read of a typed resource.",
        "operationId": "adminReadResource",
        "description": "End-to-end wire-up of `corelink_handler_admin::AdminReadHandler`\nagainst an `Arc<dyn ...>` trait-object route state. Emits\n`Sli::AvailControlPlane` per route entry.\n",
        "security": [
          {
            "BearerPAT": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Resource discriminator (handler-specific taxonomy)."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource payload (handler-specific shape).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/admin/mutate": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/admin.rs (handle_mutate)",
      "post": {
        "tags": [
          "admin-read-mutate"
        ],
        "summary": "Admin-plane mutate (dual-approval-gated).",
        "operationId": "adminMutate",
        "description": "`AdminMutateHandler` enforces (1) RBAC (initiator must hold admin\nrole), (2) dual-approval token presence, (3) approver \u2260 initiator.\nEach path emits the corresponding `MutateAttempted` /\n`MutateDenied` / `MutateDualApprovalRejected` audit row BEFORE\nthe response (audit-emit-BEFORE-handler atomicity).\n",
        "security": [
          {
            "BearerPAT": [
              "admin"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminMutateBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Mutation accepted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "RBAC denied / dual-approval missing / self-approval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/pilots": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/admin_pilot.rs (handle_list)",
      "get": {
        "tags": [
          "admin-pilot"
        ],
        "summary": "List pilot tenants filtered by lifecycle state.",
        "operationId": "adminPilotsList",
        "description": "Replaces the wave-27 `list-pilot-tenants.sh` shell script.\nAuth: Clerk JWT with scope `corelink:admin:pilots`; the route\nre-checks the scope at the boundary (5-Layer Defense).\n",
        "security": [
          {
            "ClerkSessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "ACTIVE",
                "GRADUATED",
                "TERMINATED"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated pilot list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPilotsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/admin/pilots/{tenant_id}/grant-tier": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/admin_pilot.rs (handle_grant_tier)",
      "post": {
        "tags": [
          "admin-pilot"
        ],
        "summary": "Grant pilot tier and cap.",
        "operationId": "adminPilotsGrantTier",
        "description": "Replaces the wave-27 `grant-pilot-tier.sh` shell script.\nTransitions `pilot_state` NEW \u2192 ACTIVE atomically with\n`tier_granted_at_ms` set.\n",
        "security": [
          {
            "ClerkSessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantTierBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tier granted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantTierResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/admin/pilots/{tenant_id}/checkin": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/admin_pilot.rs (handle_checkin)",
      "post": {
        "tags": [
          "admin-pilot"
        ],
        "summary": "Run the 24-hour activation check-in.",
        "operationId": "adminPilotsCheckin",
        "description": "Replaces the wave-27 `pilot-24h-checkin.sh` shell script.\nEmits an alert audit row when the tenant has not uploaded a single\nblob 24h after `tier_granted_at_ms`.\n",
        "security": [
          {
            "ClerkSessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check-in result (alert flag + first-blob status).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenant_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "first_blob_seen": {
                      "type": "boolean"
                    },
                    "alert_emitted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/audit/{tenant}/export": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/audit_export/handler.rs (handle_export)",
      "x-served-at": "crates/corelink-container/src/routes/audit_export/types.rs:20 (AUDIT_EXPORT_ROUTE)",
      "get": {
        "tags": [
          "audit-export"
        ],
        "summary": "Stream a bulk audit-chain export from R2.",
        "operationId": "auditExport",
        "description": "Streams the per-tenant audit chain over the supplied `[from, to)`\nwindow. Window bounds accept either ISO 8601 UTC\n(`YYYY-MM-DDTHH:MM:SSZ`) or raw Unix epoch milliseconds. Cross-\ntenant attempts emit a security audit row BEFORE the 403.\n",
        "security": [
          {
            "BearerPAT": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Inclusive lower bound (ISO 8601 UTC or Unix ms)."
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Exclusive upper bound (same shapes as `from`)."
          },
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The tenant whose chain is exported. When it differs from the\nauthenticated principal's tenant, the route emits a cross-tenant\nattempt audit row and returns 403.\n"
          },
          {
            "name": "X-Tenant-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NDJSON stream of audit events.",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "X-Chain-Head-Anchor": {
                "schema": {
                  "type": "string"
                },
                "description": "Hex BLAKE3 hash anchor for client verification."
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt or canceled tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-tenant rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/audit/analytics/event-count": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/audit_analytics/handler_event_count.rs",
      "get": {
        "tags": [
          "audit-analytics"
        ],
        "summary": "Event-type count aggregates over a time window.",
        "operationId": "auditAnalyticsEventCount",
        "security": [
          {
            "BearerPAT": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated counts grouped by event type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventCountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Rate-limit exceeded."
          }
        }
      }
    },
    "/v1/audit/analytics/timeline": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/audit_analytics/handler_timeline.rs",
      "get": {
        "tags": [
          "audit-analytics"
        ],
        "summary": "Event-count timeline bucketed at a chosen granularity.",
        "operationId": "auditAnalyticsTimeline",
        "security": [
          {
            "BearerPAT": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 86400000
            },
            "description": "Bucket size in milliseconds (capped at 24h). Default chosen by\nthe handler to keep `(to - from) / granularity \u2264 1000`.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline buckets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/cas/{tenant}/batch": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/cas/batch_write.rs (handle_batch_write)",
      "post": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Write multiple CAS blobs with length-framed upload.",
        "operationId": "casBatchWrite",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Length-framed upload: newline-delimited JSON manifest entries\n(`{\"hash\":\"<blake3>\",\"len\":<bytes>}`), one blank line, then\nthe concatenated raw object bytes in manifest order. The manifest\nand payload together are capped at 10 MiB; object bytes at 8 MiB\nand 2,000 objects.\n",
          "content": {
            "application/x-hugit-cas-batch": {
              "schema": {
                "$ref": "#/components/schemas/BatchUploadBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-object outcomes in manifest order; one bad object does not abort the batch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 2000,
                  "items": {
                    "$ref": "#/components/schemas/BatchUploadResult"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/BatchTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/cas/{tenant}/batch-read": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/cas/batch_read.rs (handle_batch_read)",
      "post": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Read multiple CAS blobs with bounded, ordered framing.",
        "operationId": "casBatchRead",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-ndjson": {
              "schema": {
                "$ref": "#/components/schemas/BatchHashNdjsonBody"
              }
            },
            "application/x-hugit-cas-batch": {
              "schema": {
                "$ref": "#/components/schemas/BatchHashNdjsonBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered manifest lines, a blank-line terminator, then concatenated blob bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/BatchTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/cas/{tenant}/batch-exists": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/cas/batch_read.rs (handle_batch_exists)",
      "post": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Probe existence of multiple CAS blobs without returning bytes.",
        "operationId": "casBatchExists",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-ndjson": {
              "schema": {
                "$ref": "#/components/schemas/BatchHashNdjsonBody"
              }
            },
            "application/x-hugit-cas-batch": {
              "schema": {
                "$ref": "#/components/schemas/BatchHashNdjsonBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existence results in request order; object bytes are never included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 2000,
                  "items": {
                    "$ref": "#/components/schemas/BatchExistsResult"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/BatchTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/cas/{tenant}/{hash}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/cas.rs (handle_read, handle_write)",
      "x-binding-note": "Backed by R2 storage in production (falls back to InMemory when creds\nabsent). Cross-tenant denials are enforced at the route boundary and\nemit audit rows before the 403. Route constant:\n`CAS_READ_ROUTE = \"/v1/cas/:tenant/:hash\"`.\n",
      "get": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Read a CAS blob by `(tenant, content-hash)`.",
        "operationId": "casRead",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hex BLAKE3 digest."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blob bytes (opaque payload).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "maxLength": 67108864
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt \u2014 audit row emitted before 403."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Write a CAS blob by `(tenant, content-hash)`.",
        "operationId": "casWrite",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hex BLAKE3 digest the caller claims for this body."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 67108864
              }
            }
          },
          "description": "Raw blob bytes, capped at 64 MiB by the shared cache-entry limit. The handler verifies the hash against the path parameter before committing."
        },
        "responses": {
          "201": {
            "description": "Blob stored (durable commit). Body echoes the content hash.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Idempotent re-write \u2014 blob already existed with identical hash.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          },
          "422": {
            "description": "Hash mismatch \u2014 body bytes do not match the claimed digest."
          }
        }
      }
    },
    "/v1/cas/{digest}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-reapi/src/http_read.rs (handle_cas_get)",
      "x-binding-note": "REAPI read-only binary (`corelink-reapi::http_read`) \u2014 distinct\nlistener from the container surface. Exposes the same intent as\n`/v1/cas/{tenant}/{hash}` but addresses blobs by canonical digest\nand resolves the tenant via auth context rather than path.\n",
      "get": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Read a CAS blob by canonical digest (REAPI binary).",
        "operationId": "reapiCasGet",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "digest",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hex BLAKE3 digest."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blob bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "maxLength": 67108864
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/ac/{tenant}/{action_digest}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/ac.rs (handle_lookup, handle_update)",
      "x-binding-note": "REAPI HTTP fake for the Action Cache \u2014 production AC traffic uses\nthe gRPC ActionCache service. Cross-tenant denials emit\n`AuditEventKind::LookupDenied` / `UpdateDenied` BEFORE the 403.\n",
      "get": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Look up an Action Cache result.",
        "operationId": "acLookup",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_digest",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hex digest of the action's `ActionResult` key."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ActionResult payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "reapi-http"
        ],
        "summary": "Upsert an Action Cache result.",
        "operationId": "acUpdate",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_digest",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 67108864
              }
            }
          },
          "description": "Raw ActionResult bytes."
        },
        "responses": {
          "201": {
            "description": "Stored durably (fresh insert). Body echoes the action digest.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Idempotent re-write (already existed).",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt \u2014 audit row emitted before 403."
          }
        }
      }
    },
    "/_health": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/main.rs (health_handler)",
      "x-reconciliation-note": "Mounted directly in main.rs as `.route(\"/_health\", get(health_handler))`.\nUsed by the Cloudflare Durable Object `waitForContainerHealth` probe\n(expects HTTP 200 + application/json) and by `scripts/smoke-prod-corelink.sh`.\nReturns `{\"status\":\"ok\"}` \u2014 no storage field yet (A4 may add it).\n",
      "get": {
        "tags": [
          "ops"
        ],
        "summary": "Container liveness / readiness probe for the DO health check.",
        "operationId": "containerHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Container is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    }
                  }
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/v8/artifacts/events": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/turbo_v8.rs (handle_events)",
      "post": {
        "tags": [
          "turbo-v8"
        ],
        "summary": "Accept-and-drop Turborepo telemetry events.",
        "operationId": "turboEvents",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events acknowledged (dropped \u2014 telemetry is fire-and-forget)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v8/artifacts/status": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/turbo_v8.rs (handle_status)",
      "post": {
        "tags": [
          "turbo-v8"
        ],
        "summary": "Static remote-cache enabled check (Turbo status probe).",
        "operationId": "turboStatus",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remote cache is enabled."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v8/artifacts/{hash}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/turbo_v8.rs (handle_get, handle_put)",
      "x-reconciliation-note": "Route constants `TURBO_GET_ROUTE`/`TURBO_PUT_ROUTE` = `/v8/artifacts/:hash`.\nQuery parameter `teamId` is **required**; must match the authenticated\ncaller's tenant (cross-tenant guard). `slug` is optional/informational.\n",
      "get": {
        "tags": [
          "turbo-v8"
        ],
        "summary": "Download a Turborepo build artifact.",
        "operationId": "turboArtifactGet",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Artifact hash (Turborepo-generated key)."
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vercel team identifier \u2014 used as the storage partition key."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Informational repo slug (logged, not partitioned)."
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "maxLength": 67108864
                }
              }
            }
          },
          "400": {
            "description": "Missing required `teamId` query parameter."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt (teamId does not match authenticated tenant)."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "turbo-v8"
        ],
        "summary": "Upload a Turborepo build artifact.",
        "operationId": "turboArtifactPut",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 67108864
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Artifact stored. Body is `{\"urls\":[\"...\"]}` per Vercel spec.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "urls"
                  ],
                  "properties": {
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required `teamId` query parameter."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          }
        }
      }
    },
    "/bazel/v2/{instance}/blobs/{hash}/{size}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/bazel_v2.rs (handle_cas_read, handle_cas_write via uploads sub-path)",
      "x-reconciliation-note": "Axum resolves `/blobs/ac/:hash/:size` before `/blobs/:hash/:size`\nbecause the literal `ac` segment wins the matchit priority.\nTenant is resolved from the `:instance` path segment (treated as\nthe storage partition key); cross-tenant guard enforced.\n",
      "get": {
        "tags": [
          "bazel-v2"
        ],
        "summary": "Read a CAS blob (Bazel REAPI ByteStream GET).",
        "operationId": "bazelCasRead",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bazel instance name (used as tenant partition key)."
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hex SHA-256 digest."
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Expected blob size in bytes (REAPI digest component)."
          }
        ],
        "responses": {
          "200": {
            "description": "Blob bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "maxLength": 67108864
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bazel/v2/{instance}/uploads/{uuid}/blobs/{hash}/{size}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/bazel_v2.rs (handle_cas_write)",
      "put": {
        "tags": [
          "bazel-v2"
        ],
        "summary": "Write a CAS blob (Bazel REAPI ByteStream PUT).",
        "operationId": "bazelCasWrite",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Upload UUID (REAPI upload id, used for dedup)."
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 67108864
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blob stored."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          },
          "413": {
            "description": "Batch / blob too large."
          }
        }
      }
    },
    "/bazel/v2/{instance}/blobs/ac/{hash}/{size}": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/bazel_v2.rs (handle_ac_read, handle_ac_write)",
      "get": {
        "tags": [
          "bazel-v2"
        ],
        "summary": "Read an Action Cache result (Bazel REAPI AC GET).",
        "operationId": "bazelAcRead",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ActionResult bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "maxLength": 67108864
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "bazel-v2"
        ],
        "summary": "Write an Action Cache result (Bazel REAPI AC PUT).",
        "operationId": "bazelAcWrite",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 67108864
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ActionResult stored."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          }
        }
      }
    },
    "/bazel/v2/{instance}/findMissingBlobs": {
      "x-status": "implemented",
      "x-implementing-handler": "crates/corelink-container/src/routes/bazel_v2.rs (handle_find_missing)",
      "post": {
        "tags": [
          "bazel-v2"
        ],
        "summary": "Find missing blobs (Bazel REAPI FindMissingBlobs POST).",
        "operationId": "bazelFindMissingBlobs",
        "security": [
          {
            "BearerPAT": []
          }
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "REAPI FindMissingBlobsRequest (JSON-encoded proto)."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of digests not present in the cache.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Cross-tenant attempt."
          },
          "413": {
            "description": "Batch too large."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerPAT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "PAT",
        "description": "`Authorization: Bearer <PAT>` where PAT is a 32-byte UUIDv7-derived\nopaque token (BLAKE3-keyed hash in DB). Tier 1 of the canonical\nauth ladder per `corelink-pat`. Scopes encoded in PAT row.\n"
      },
      "ClerkSessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__session",
        "description": "Clerk browser session cookie (alternative to PAT for the web onboarding flow)."
      },
      "StripeSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "Stripe-Signature",
        "description": "HMAC-SHA256 webhook signature; verified by `apps/server::webhook::stripe_webhook_handler` against the secret in `STRIPE_WEBHOOK_SECRET` env var with a 5-minute replay window."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128
        },
        "description": "Client-generated idempotency token. Same key replays the original response (no duplicate provisioning)."
      },
      "CorrelationId": {
        "name": "X-Correlation-Id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "PAT-CORRELATION-ID-001 propagation token."
      },
      "PatId": {
        "name": "pat_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "AdminOperationReason": {
        "name": "X-Admin-Operation-Reason",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 4,
          "maxLength": 512
        },
        "description": "Free-text justification recorded in the audit envelope for every admin mutation. Required for all `/v1/admin/*` write endpoints."
      },
      "AdminOpId": {
        "name": "op_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "BatchTooLarge": {
        "description": "Batch exceeds the 2,000-object or 8 MiB object-byte limit, or the 10 MiB request-body limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BatchTooLargeResponse"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but not authorized for this resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Conflict": {
        "description": "Idempotency or uniqueness conflict.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Schema-valid but semantically invalid payload.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate-limit exceeded.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type is not accepted by this batch route.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "unsupported media type"
            }
          }
        }
      },
      "InternalError": {
        "description": "Server error. Safe to retry idempotent operations.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "examples": {
      "SignupRequestMinimal": {
        "summary": "Minimal valid signup request.",
        "value": {
          "clerk_event_id": "evt_2NmPsl2HxqGq7BhM4VqW8Y3JxAa",
          "email_hash": "8a5b6f0e3e2c1d4b9a7c0e5d2b8a9f4e3c6d1a0b4e7c2f1d9a6b3e0c5d8a4b7e",
          "locale": "en-US",
          "idempotency_key": "idem-2026-05-14-1f3c",
          "correlation_id": "evt_2NmPsl2HxqGq7BhM4VqW8Y3JxAa"
        }
      }
    },
    "schemas": {
      "BatchUploadBody": {
        "type": "string",
        "format": "binary",
        "maxLength": 10485760,
        "description": "Length-framed CAS upload body. The manifest is NDJSON with `hash` and\n`len` fields, followed by one blank line and the concatenated raw\nobject bytes. The body is capped at 10 MiB; declared object bytes are\ncapped at 8 MiB and 2,000 objects.\n"
      },
      "BatchHashNdjsonBody": {
        "type": "string",
        "maxLength": 10485760,
        "description": "NDJSON body containing `{\"hash\":\"<blake3>\"}` lines, at most 2,000 lines."
      },
      "BatchTooLargeResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error",
          "limit_objects",
          "limit_bytes"
        ],
        "properties": {
          "error": {
            "type": "string",
            "const": "batch_too_large"
          },
          "limit_objects": {
            "type": "integer",
            "format": "int64",
            "const": 2000
          },
          "limit_bytes": {
            "type": "integer",
            "format": "int64",
            "const": 8388608
          }
        }
      },
      "BatchUploadResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hash",
          "status",
          "error"
        ],
        "properties": {
          "hash": {
            "type": "string",
            "maxLength": 128,
            "description": "Echo of the manifest hash claim."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "exists",
              "error"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Compact per-object failure reason; null for created or exists."
          }
        }
      },
      "BatchExistsResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hash",
          "present"
        ],
        "properties": {
          "hash": {
            "type": "string",
            "maxLength": 128,
            "description": "Echo of the requested hash."
          },
          "present": {
            "type": "boolean",
            "description": "True only when the storage existence probe found the blob."
          }
        }
      },
      "CustomerPat": {
        "type": "object",
        "description": "One PAT row as returned by the `/v1/customer/keys` family. Metadata\nonly \u2014 raw token material appears exactly once, in\n`CustomerKeyCreateResponse.token`, and never again.\n",
        "required": [
          "pat_id",
          "name",
          "scopes",
          "created_at"
        ],
        "properties": {
          "pat_id": {
            "type": "string",
            "description": "Opaque PAT identifier."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name given at creation."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Granted scopes (e.g. `cas:r`, `cas:rw`)."
          },
          "created_at": {
            "type": "string",
            "description": "ISO-8601 creation timestamp."
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of last use; `null` if never used."
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 revocation timestamp; `null` while active."
          }
        }
      },
      "CustomerByokStatus": {
        "type": "object",
        "description": "BYOK posture for the tenant, returned alongside the PAT list.",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "none",
              "active",
              "rotation_pending"
            ]
          },
          "cmk_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "CMK identifier when `status` is not `none`."
          },
          "last_rotated_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of the last rotation, when present."
          }
        }
      },
      "CustomerKeysListResponse": {
        "type": "object",
        "required": [
          "pats",
          "byok"
        ],
        "properties": {
          "pats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerPat"
            }
          },
          "byok": {
            "$ref": "#/components/schemas/CustomerByokStatus"
          }
        }
      },
      "CustomerKeyCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the new PAT."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "Scopes to grant. Requesting any write/admin scope requires the\ncaller to already hold a cache-write capability.\n"
          }
        }
      },
      "CustomerKeyCreateResponse": {
        "type": "object",
        "required": [
          "pat",
          "token"
        ],
        "properties": {
          "pat": {
            "$ref": "#/components/schemas/CustomerPat"
          },
          "token": {
            "type": "string",
            "description": "Raw bearer token. Shown **once**; it is hashed before storage and\nis not recoverable afterwards.\n"
          }
        }
      },
      "CustomerKeyRevokeResponse": {
        "type": "object",
        "required": [
          "pat"
        ],
        "properties": {
          "pat": {
            "$ref": "#/components/schemas/CustomerPat"
          }
        }
      },
      "TeamInviteRequest": {
        "type": "object",
[...]
